<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row pad-left-right">
            <span class="pull-left title">Classes</span>
            <a routerLink="./new" class="btn btn-success pull-right">Add Year</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="center-panel">
            <!-- <manager-testimonial-item
            *ngFor="let testimonialElement of testimonials"
            [testimonial]="testimonialElement"></manager-testimonial-item> -->
            <manager-year-item
            *ngFor="let yearElement of years"
            [year]="yearElement"></manager-year-item>
        </div>
    </div>
</div>
  
