<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- DISPLAY THE BRAND -->
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Portfolio Manager</a>
        </div>

        <!-- DISPLAY THE TABS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLinkActive="active" routerLink="/projects">Projects</a></li> 
                <li><a routerLinkActive="active" routerLink="/testimonials">Testimonials</a></li> 
                <li><a routerLinkActive="active" routerLink="/classes">Classes</a></li> 
                <!--                     
                    <li><a href="#">About Me</a></li> 
                -->
            </ul>
        </div>

    </div>
</nav>